body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #70757a;
  font-size: 24px;
  line-height: 26px;
  font-weight: 100;
  margin: 0;
}
ul {
  margin: 0 0 20px;
  padding: 0;
}
li {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
}
.temperature {
  font-weight: 400;
  font-size: 54px;
  color: #70757a;
}
.units {
  position: relative;
  top: -27px;
}

.fa-solid {
  font-size: 44px;
  color: #70757a;
}
.search-form {
  margin-bottom: 10px;
  padding: 0;
}
.col-2 {
  color: #70757a;
}
